<div class="page-header">
  <div class="icon">
    <span class="ico-arrow-right"></span>
  </div>
  <h1>Paymoney<small>Veuillez entrer votre mot de passe Paymoney pour afficher vos otp</small></h1>
</div>

<div class="row-fluid">
  <%= form_tag list_otp_path do %>
    <div class="row-form">
      <div class="span12">
        <input type="password" name="password" placeholder="Mot de passe"/>
        <span class="bottom">Mot de passe</span>
      </div>
    </div>
    <div class="row-form">
      <div class="span12">
        <button class="btn">Valider <span class="icon-arrow-next icon-white"></span></button>
      </div>
    </div>
    <div class="row-form">
      <div class="span12">
        <%= link_to '1- OTP autre compte', other_otp_path %>
      </div>
    </div>
    <div class="row-form">
      <div class="span12">
        <%= link_to '0- Retour', gaming_menu_path %>
      </div>
    </div>
    <div class="row-form">
      <div class="span12">
        <%= link_to '00- Accueil', root_path %>
      </div>
    </div>
  <% end %>
</div>
