<div class="page-header">
  <div class="icon">
    <span class="ico-arrow-right"></span>
  </div>
  <h1>PMU ALR<small>Choisissez votre course</small></h1>
</div>

<div class="row-fluid">
  <% session[:alr_race_ids].each do |race_id| %>
    <div class="row-form">
      <div class="span12">
        <%= link_to "#{race_id[-1,1]}- Nationale #{race_id[-1,1]}", pmu_alr_bet_type_path("national#{race_id[-1,1]}") %>
      </div>
    </div>
  <% end %>
  <div class="row-form">
    <div class="span12">
      <%= link_to '0- Retour', gaming_menu_path %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to '00- Accueil', root_path %>
    </div>
  </div>
</div>
